
.all{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 55px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.shop-now{
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: black;
  cursor: pointer;
  transition: all .40s ease;
}
.card{
  width: 350px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.card-body{
  position: relative;
}
a{
  position: absolute;
  bottom: 17px;
  right: 15px;
}
img{
  cursor: pointer;
}
.center{
  width: 140px;
  height: 220px;
  position: absolute;
  top: 75px;
  left: 75px;
  cursor: pointer;
  transition: all .40s ease;
}
.footer2{
  height: 130px;
  background-color: #ca8e6f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.footer2 h1{
  color: black;
  font-size: 25px;
}
.shop-now{
  display: block;
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: black;
  cursor: pointer;
  transition: all .40s ease;
}
