
<body>
  <section class="first">
    <div class="content">
      <h1>Shop New Season</h1>
      <br>
      <h1>View The Campaign</h1>
    </div>
    <div class="img">
      <img src="//www.incu.com/cdn/shop/files/IMG1490_Incu_Galleries_Womens1_S07_188Final_2_1000x.png?v=1678078792" alt="">
    </div>
  </section>
  <section class="seconde">
    <div class="image-container">
      <!-- www.incu.com/cdn/shop/files/homepage1_c9ecd3bf-4ce2-4686-a9c9-27ed47d50c1c_1480x.png?v=1695878361 -->
      <img src="//www.incu.com/cdn/shop/files/homepage-storeimage-galeries-accessories_1000x.png?v=1678078874" alt="">
      <div class="image-text">
        <a>Women</a>
      </div>
    </div>
    <div class="image-container">
      <img src="//www.incu.com/cdn/shop/files/homepage2_323db843-6dc8-4724-b346-3dd34dedd729_1480x.png?v=1695878382" alt="">
      <div class="image-text">
        <a>Men</a>
      </div>
    </div>
  </section>
  <section class="third">
    <div class="all-cards">
      <div class="card">
        <img width="400px" height="400px" src="//www.incu.com/cdn/shop/files/homepage3_2f863ec2-f239-45a1-b359-208fc684ab2b_1200x.png?v=1695273977" alt="">
        <h2>Acne Studios</h2>
        <p>Scandinavian Minimalism, Maximum Impact</p>
        <a class="shop-now">SHOP MEN'S</a>
      </div>
      <div class="card">
        <img width="400px" height="400px" src="//www.incu.com/cdn/shop/files/homepage4_b55a2c89-7d59-43e0-b20d-c323096c515e_1200x.png?v=1695274185" alt="">
        <h2>Women's Footwear</h2>
        <p>Step Into New Season Footwear</p>
        <a class="shop-now">SHOP MEN'S</a>
      </div>
      <div class="card">
        <!-- //www.incu.com/cdn/shop/files/homepage5_f44763c2-5e44-4a78-bdcf-1bbeea6d717e_1200x.png?v=1695274395 -->
        <img width="400px" height="400px" src="//www.incu.com/cdn/shop/files/mens2_f5303276-2c93-47e6-acff-a54160f6a03d_1200x.png?v=1695878463" alt="">
        <h2>Ganni</h2>
        <p>For Every Date In Your Social Calendar</p>
        <a class="shop-now">SHOP MEN'S</a>
      </div>
    </div>
  </section>
  <section class="fourth">
    <div class="boxx">
      <h4>NEW IN</h4>
      <h2>Incu September</h2>
      <p>90's grunge meets contemporary sculptures.
        Discover the latest collection in-store and online</p>
        <a class="shop-now">SHOP MEN'S</a>
    </div>
    <!-- //www.incu.com/cdn/shop/files/homepage8_b68e5ba1-48c1-47ec-9a29-947332658ce5_2800x.png?v=1695608137 -->
    <img width="950px" height="700px" src="//www.incu.com/cdn/shop/files/homepage2_323db843-6dc8-4724-b346-3dd34dedd729_1480x.png?v=1695878382" alt="">
  </section>

  <!-- <section class="recommindations">
    <img src="" alt="">
  </section> -->

  <section class="fifth">
    <div class="locate">
      <h2>Store Locator</h2>
      <a class="shop-now">FIND A STORE NEAR YOU</a>
    </div>
    <div class="store_img">
      <div class="store">
        <img width="617px" height="445px" src="//www.incu.com/cdn/shop/files/IMG1490_Incu_Galleries_Womens1_S07_188Final_2_1000x.png?v=1678078792" alt="">
      <h2>Galeries Women's Footwear & Accessories</h2>
      </div>
      <div class="store">
        <img width="617px" height="445px" src="//www.incu.com/cdn/shop/files/homepage-storeimage-galeries-accessories_1000x.png?v=1678078874" alt="">
      <h2>Sydney Galeries Women's</h2>
      </div>
    </div>
  </section>
  <footer class="footer1">
    <div class="foot">
      <i class='bx bx-cube iicon' ></i>
      <h5>UBER FAST DELIVERY</h5>
      <h6>Delivered to your door in under 2 hours</h6>
    </div>
    <div class="foot">
      <i class='bx bxs-truck iicon'  ></i>
      <h5>FREE SHIPPING</h5>
      <h6>Free express shipping* on domestic orders over $250</h6>
    </div>
    <div class="foot">
      <i class='bx bx-caret-left-square iicon' ></i>
      <h5>EASY RETURNS</h5>
      <h6>14-day returns on full priced purchases</h6>
    </div>
    <div class="foot">
      <i class='bx bx-time-five iicon'></i>
      <h5>SHOP NOW PAY LATER</h5>
      <h6>Shop now pay later with Afterpay, Klarna & Zip</h6>
    </div>
    <div class="foot">
      <i class='bx bx-check iicon' ></i>
      <h5>EXCLUSIVE STOCKIST</h5>
      <h6>Exclusive stockist of over 150 brands</h6>
    </div>
  </footer>
  <footer class="footer2">
    <h1>Sign up to be the first to hear about new releases, exclusives and sale.</h1>
    <a class="shop-now">SIGN UP NOW</a>
  </footer>
</body>


