<body>
  <div class="head">
    <h1>Update Data</h1>
    <hr>
  </div>
  <form class="row g-3" #f="ngForm" (ngSubmit)="sub()">
    <div class="col-md-3">
      <label for="validationServer01" class="form-label">Product name</label>
      <input type="text" class="form-control is-valid" id="validationServer01"  [ngModel]="name" name="name" >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Product size</label>
      <input type="text" class="form-control is-valid" id="validationServer02"   [ngModel]="size" name="size" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Product color</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="color" name="color" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Product Price</label>
      <input type="number" class="form-control is-valid" id="validationServer02"  [ngModel]="price" name="Price" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Main Image URL</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="main_img" name="main_img" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Sub Image URL</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="main_img2" name="main_img2" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Sub Image URL 1</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="sub1" name="sub1" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Sub Image URL 2</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="sub2" name="sub2" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationServer02" class="form-label">Sub Image URL 3</label>
      <input type="text" class="form-control is-valid" id="validationServer02" [ngModel]="sub3" name="sub3" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Update</button>
    </div>
    <div *ngIf="alert" class="alert alert-primary" role="alert">
      You have Update Data successfully
    </div>
  </form>
</body>
