<body>
  <section class="main">
    <div class="cards">
      <div class="card">
        <img src="//www.incu.com/cdn/shop/files/mens1_0a6c4b69-9237-4cc1-aa07-b195a715ac31_1200x.png?v=1695878434" alt="">
        <h2>Closer Still</h2>
        <a class="shop-now">SHOP THE NEW SEASON</a>
      </div>
      <div class="card">
        <img src="//www.incu.com/cdn/shop/files/mens2_f5303276-2c93-47e6-acff-a54160f6a03d_1200x.png?v=1695878463" alt="">
        <h2>Discover Our Spring Camp</h2>
        <a class="shop-now">READ MORE</a>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="content_products" style="padding-bottom: 120px;">
      <h2>New Arrivals</h2>
    </div>
      <div id="carouselExampleControlsNoTouching" class="carousel slide slider" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-inner window">
          <div class="carousel-item active">
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
            <div class="cardd" style="display: inline-block;">
              <img width="350px" height="350px"  src="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" alt="https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https://cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x" onmouseover="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_01_500x@2.jpg?v=1694665548%202x'" onmouseout="this.src='https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x.jpg?v=1694665548,https:cdn.shopify.com/s/files/1/0991/7938/files/COFCN-H02918KAA_04_600x@2.jpg?v=1694665548 2x'">
              <p style="font-size: 11px;">A.P.C.</p>
              <h5 style="font-size: 17px;">Basile Bordee Poitrine Overshirt</h5>
              <h5 >$435</h5>
            </div>
          </div>
          <div class="carousel-item">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually" style="color: black; font-size: 50px;"><i class='bx bxs-skip-previous-circle' ></i></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually" style="color: black; font-size: 50px;"><i class='bx bxs-skip-previous-circle bx-rotate-180' ></i></span>
  </button>
</div>
  <div class="content_products" style="padding-top: 100px;">
    <a class="shop-now" style="font-weight: bold;">SHOP MORE</a>
  </div>
  </section>
  <section class="Pop">
    <div class="pop-img">
      <img width="1100" height="700" src="//www.incu.com/cdn/shop/files/mens3_68d41954-7746-4889-9f97-adffe98ade19_2800x.png?v=1693201769" alt="">
    </div>
    <div class="detail-pop">
      <h2>Pop Trading Company</h2>
      <p>Founded by Peter Kolks and Ric van Rest in 2003, Pop Trading Company is known as Amsterdam’s best skate brand and continues to establish a refined aesthetic inspired by skateboarding, their local
        community and growing up in the 90s.</p>
        <a class="shop-now" style="font-weight: bold;">SHOP NOW</a>
    </div>
  </section>
  <section class="offers">
    <div class="image-container">
      <img src="//www.incu.com/cdn/shop/files/mens4_8a89d532-7ba6-4776-961e-f5c7011dd3d1_1200x.png?v=1695967002" alt="">
      <div class="image-text">
        <h3>Accessories</h3>
        <a class="shop-now">DISCOVER</a>
      </div>
    </div>
    <div class="image-container">
      <img src="//www.incu.com/cdn/shop/files/mens5_1_1200x.png?v=1695968061" alt="">
      <div class="image-text">
        <h3>Sneakers</h3>
        <a class="shop-now">DISCOVER</a>
      </div>
    </div>
    <div class="image-container">
      <img src="//www.incu.com/cdn/shop/files/mens6_974bbbd0-b796-4263-a359-91ebc88ff4e0_1200x.png?v=1695966932" alt="">
      <div class="image-text">
        <h3>Bode</h3>
        <a class="shop-now">DISCOVER</a>
      </div>
    </div>
  </section>
  <footer class="footer2">
    <h1>Sign up to be the first to hear about new releases, exclusives and sale.</h1>
    <a class="shop-now">SIGN UP NOW</a>
  </footer>
</body>
